@font-face {
  font-family: FenXs-Font;
  src: url("../font/Page.ttf");
}

@font-face {
  font-family: FenXs-Font-Logo;
  src: url("../font/Page-Logo.ttf");
}

@font-face {
  font-family: FenXs-Font-Regular;
  src: url("../font/Page-Regular.ttf");
}

@font-face {
  font-family: FenXs-Font-Anchor;
  src: url("../font/Page-Anchor.ttf");
}

:root {
  --FenXs-Wooden: 156, 102, 68;
  --FenXs-Dark-Wooden: 127, 85, 67;
  /*--FenXs-Grey: 108, 117, 125;*/
  /*--FenXs-Sky: 0, 150, 199;*/
}

body,
html {
    height: 100%;
    background-image: url("../img/Background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: FenXs-Font;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 20px;
}

header {
    font-family: FenXs-Font-Logo;
    font-size: 100px;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}

a,
a:focus,
a:active {
  font-family: FenXs-Font-Anchor;
  text-decoration: none;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

a:hover {
  text-shadow: -1px 0 darkgrey, 0 1px darkgrey, 1px 0 darkgrey, 0 -1px darkgrey;
  cursor: pointer;
}

.text-justify {
  text-align: justify;
}

.footer-min {
  width: 150px;
  border-radius: 10px 0 0 0;
}

.footer-max {
  width: 100%;
}

.FenXs-Font-Regular {
  font-family: FenXs-Font-Regular;
  font-size: 0.75rem;
  text-shadow: none;
}

.FenXs-CopyRight {
  font-family: FenXs-Font-Regular;
  color: black;
  text-shadow: none;
}

.FenXs-Wooden {
  background-color: rgb(var(--FenXs-Wooden));
}

.FenXs-Dark-Wooden {
  background-color: rgb(var(--FenXs-Dark-Wooden));
}

.FenXs-Dark-Wooden-Btn {
  background-color: rgb(var(--FenXs-Dark-Wooden));
  border-color: rgb(var(--bs-dark-rgb));
}

.FenXs-Dark-Wooden-Btn:hover {
  color: white;
  border-color: white;
}