@page
@model MainModel
@{
    Layout = "_Layout";
    ViewData["Description"] = "- Main";
    ViewData["Login"] = @Model.user.Login;
    ViewData["FenXs-Stars"] = @Model.user.FenXs_stars;
}

<div>
    cos
</div>