@page
@model NotFoundModel
@{
    Layout = "_LayoutForErrors";
    ViewData["Description"] = "- Page Not Found";
}

<div class="text-center">
    <span class="display-1">Error 404</span><br />
    <a href="/Index" class="link-light">Back To Main Page</a>
</div>