@page
@model AdminPanelIndexModel
@{
    Layout = "_LayoutLogged";
    ViewData["Description"] = "- Admin Panel";
    ViewData["Login"] = @Model.user.Login;
    ViewData["FenXs-Stars"] = @Model.user.FenXs_stars;
    ViewBag.IsAdminPanel = true;
}

<div class="row m-2">
    <a href="/Settings" class="btn btn-primary border border-dark">Back To Settings</a>
</div>
<div class="row FenXs-Text-Shadow h1 m-2">
    <a href="/AdminPanel/Users" class="col-12 col-md Settings link-light bg-dark my-2 mx-md-2 rounded">Users</a>
    <a href="/AdminPanel/Servers" class="col-12 col-md Settings link-light bg-dark my-2 mx-md-2 rounded">Servers</a>
    <a href="/AdminPanel/News" class="col-12 col-md Settings link-light bg-dark my-2 mx-md-2 rounded">News</a>
</div>